@import "tailwindcss";

a.active hr {
  display: block;
}

@media print {
  @page {
    size: A4;
    margin: 0;
  }

  html,
  body {
    margin: 0;
    padding: 0;
    background: white;
    height: 100%;
    font-size: small;
  }

  body {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .a4 {
    width: 200mm;
    min-height: 287mm;
    /* padding: 5mm; */
    margin-top: 10mm;
    box-sizing: border-box;
    background: white;
    transform: scale(0.9);
    transform-origin: top center;
    font-size: 12pt;
  }

  table {
    border-collapse: collapse !important;
    width: 100%;
  }

  th,
  td {
    padding: 2px;
  }

  .no-print,
  .navbar,
  header {
    display: none !important;
  }
}
