@import "tailwindcss";

a.active hr {
  display: block;
}

@media print {
  *{
    margin: 0;
    padding: 0;
  }

  @page {
    size: A4;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

  html,
  body {
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .a4 {
    width: 200mm;
    min-height: 287mm;
    padding: 5mm;
    background: white;
    transform: scale(1.0);
    transform-origin: center;
    font-size: 12pt;
    color: black;
  }

  table {
    border-collapse: collapse !important;
    width: 100%;
    color: black !important;
  }

  th,
  td {
    padding: 0 1px;
  }

  .no-print,
  .navbar,
  header {
    display: none !important;
  }
}
